.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  max-width: 828px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #e8e5e7;
  box-shadow: 1px 1px 1px #333333;
}

h1 {
  text-align: center;
  color: #1d61d7;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  left: 30px;
  margin: 50px auto;
  padding: 0;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: #333333;
}
.col-11 {
  position: relative;
  bottom: 20px;
  left: 10px;
}

.col-12 {
  position: relative;
  bottom: 20px;
  right: 15px;
}
.search-button {
  position: relative;
  left: 200px;
  bottom: 40px;
  background-color: #1d61d7;
  box-shadow: 1px 1px 1px #000;
}

.form-control {
  position: relative;
  width: 330px;
  left: 200px;
  bottom: 2px;
  box-shadow: 1px 1px 1px #000;
}

.unit {
  font-size: 15px;
}

.active {
  color: #333333;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.current {
  color: #333333;
  text-decoration: none;
  cursor: default;
}

p {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  color: #333333;
}
.card-group {
  width: 800px;
}

.conditions {
  left: 150px;
  bottom: 60px;
}

ul {
  text-align: center;
  list-style-type: none;
  left: 20px;
  bottom: 100px;
  opacity: 0.7;
}

.footer {
  text-align: center;
  font-family: Dancing Script, cursive;
  font-size: 13px;
}
