.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  max-width: 828px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #e8e5e7;
  box-shadow: 1px 1px 1px #333333;
}

h1 {
  text-align: center;
  color: #1d61d7;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  position: relative;
  left: 30px;
  margin: 50px auto;
  padding: 0;
}
h2 {
  text-align: center;
  font-size: 40px;
  position: relative;
  left: 25px;
  bottom: 35px;
  color: #333333;
}

h3 {
  position: relative;
  bottom: 280px;
  font-size: 18px;
  color: #333333;
  font-family: "Roboto Slab", serif;
}

.unit {
  font-size: 20px;
  position: relative;
  bottom: 25px;
}
.active {
  color: #333333;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.current {
  color: #333333;
  text-decoration: none;
  cursor: default;
}

p {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  color: #333333;
  position: relative;
  right: 50px;
  top: 30px;
}
.card-group {
  width: 800px;
}

.weather-forecast {
  margin-top: 28px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
  color: #1d61d7;
  position: relative;
  top: 5px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
  position: relative;
  top: 20px;
}

.weather-forecast-temperature-max {
  position: relative;
  top: 20px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.highs-lows {
  color: gray;
  font-family: "Roboto Slab", serif;
}

.conditions {
  position: relative;
  left: 150px;
  bottom: 60px;
}

ul {
  text-align: center;
  list-style-type: none;
  position: relative;
  left: 20px;
  bottom: 30px;
  opacity: 0.7;
}

.footer {
  text-align: left;
  position: relative;
  top: 65px;
  left: 40px;
  font-family: Dancing Script, cursive;
  font-size: 13px;
}

.form-control {
  display: block;
  width: 300px;
  position: relative;
  left: 200px;
  bottom: 5px;
  box-shadow: 1px 1px 1px #000;
}

.search-button {
  position: relative;
  left: 150px;
  bottom: 43px;
  background-color: #1d61d7;
  box-shadow: 1px 1px 1px #000;
}
